
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutManager.cshtml";
}
<!--
<div style="padding:20px;color:#fff;background-color:#f4fafd;font-family:Arial, Helvetica, sans-serif;float:left;width:100%;">
    
    <a href="#">
        <div style="width:200px;height:200px;float:left;background-color:#00357a;margin-right:1px;">
            <span>Pedidos</span>
        </div>
    </a>
    <a href="#">
        <div style="width:200px;height:200px;float:left;background-color:#003f92;margin-right:1px;">
            <span>Pedidos R$</span>
        </div>
    </a>
</div>-->
